/*all screen css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Abel, sans-serif;
}

html {
    background-color: #E6E6E6;
}

.container-fluid {
    background-color: #E6E6E6;
}

h1, h2, h4, .icons {
    font-family: Anton, sans-serif;
}

.cool-logo {
    height: 105px;
    width: 105px;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    line-height: 85px;
    text-align: center;
    border: 8px solid #F0F0F0;
}

.icons {
    height: 18px;
    width: 18px;
    border: none;
    line-height: normal;
    color: black;
    font-size: 12px;
    margin: 0 5px;
    display: inline-block;
}

.img-border {
    border: lightgrey solid 5px;
    height: 300px !important;
    width: 70vw !important;
}

.circle-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.flex-item-right {
    display: flex;
    justify-content: flex-end;
}

.red {
    background-color: #E6563B;
}

.orange {
    background-color: #EB9D3A
}

.green {
    background-color: #7CB06C;
}

.teal {
    background-color: #00ABA9
}

.lightgrey {
    background-color: #F0F0F0;
}

.grey {
    background-color: #E6E6E6;
}

.jumbotron {
    background-color: #E6E6E6;
}

#codeup-navbar.bg-body-tertiary {
    background-color: #E6E6E6 !important;
}

.header1 {
    font-size: 5em;
}

.header2 {
    font-size: 3em;
    margin-top: 1.5em;
}

hr {
    border-color: slategray;
    width: 80% !important;
    margin: auto !important;
    padding: 10px;
}

.icon-holder {
    position: absolute;
    right: 0;

}

.container {
    text-align: center;
    margin-top: 3em;
}

.figure {
    position: relative;
}

aside p {
    text-align: left;
}

aside p:nth-child(3) {
    font-family: sans-serif;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.aside-content-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

aside h4 {
    text-align: left;
    margin-left: 20px;
    font-size: 2em;
}

aside img {
    height: 100px;
    width: 100px;
}

/*Media Queries*/

/*sm*/

@media screen and (min-width: 768px) {
    header {
        margin-bottom: 40px;
    }
}

/*md*/
@media screen and (min-width: 768px) {
    header {
        margin-bottom: 40px;
    }
}

/*lg*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .row-gapper {
        margin-top: 10em !important;
    }
}